*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
jarRepositories.xml
misc.xml
compiler.xml
vcs.xml
settings.gradle
gradle-wrapper.jar
.idea/gradle.xml
gradle-wrapper.properties
gradlew
gradlew.bat
gradle.properties
.idea/.gitignore
app/.gitignore
